Repository nolebase/integrations, pull requests merged in 2024-07, with the labels that each got.

#245 fix(git-changelog): initial dev commits not handled
  packages/vitepress-plugin-git-changelog/src/client/components/Changelog.vue
  packages/vitepress-plugin-git-changelog/src/client/components/Contributors.vue
Labels: bug, pkg/git-changelog

#248 fix(inline-link-preview): bad handling implementation of tag replacing without the check of nested seek
  packages/vitepress-plugin-inline-link-preview/src/markdown-it/index.test.ts
  packages/vitepress-plugin-inline-link-preview/src/markdown-it/index.ts
Labels: bug, pkg/inline-link-preview

#246 docs(og-image): added instructions to documentation for og-image plugin
  docs/pages/zh-CN/integrations/vitepress-plugin-og-image/index.md
Labels: documentation, pkg/og-image

#255 feat(git-changelog): new options for displaying commits in relative distance from now
  docs/.vitepress/theme/index.ts
  docs/pages/en/integrations/vitepress-plugin-git-changelog/configure-ui.md
  docs/pages/zh-CN/integrations/vitepress-plugin-git-changelog/configure-ui.md
  packages/unconfig-vitepress/src/plugins/nolebase/index.ts
  packages/vitepress-plugin-git-changelog/src/client/components/Changelog.vue
  packages/vitepress-plugin-git-changelog/src/client/components/CommitRegularLine.vue
  packages/vitepress-plugin-git-changelog/src/client/components/CommitTagLine.vue
  packages/vitepress-plugin-git-changelog/src/client/composables/commits.ts
  packages/vitepress-plugin-git-changelog/src/client/types.ts
  packages/vitepress-plugin-git-changelog/src/client/utils.ts
Labels: enhancement, pkg/git-changelog

#261 feat(bi-directional-links): support audios and videos type of bd links
  docs/pages/en/integrations/markdown-it-bi-directional-links/audios/Applause.mp3
  docs/pages/en/integrations/markdown-it-bi-directional-links/index.md
  docs/pages/en/integrations/markdown-it-bi-directional-links/syntax.md
  docs/pages/en/integrations/markdown-it-bi-directional-links/videos/Big rabbit came out of the hutch.mp4
  docs/pages/zh-CN/integrations/markdown-it-bi-directional-links/audios/鼓掌声.mp3
  docs/pages/zh-CN/integrations/markdown-it-bi-directional-links/index.md
  docs/pages/zh-CN/integrations/markdown-it-bi-directional-links/syntax.md
  docs/pages/zh-CN/integrations/markdown-it-bi-directional-links/videos/大兔子从兔窝中钻出.mp4
  packages/markdown-it-bi-directional-links/src/index.test.ts
  packages/markdown-it-bi-directional-links/src/index.ts
  packages/markdown-it-bi-directional-links/src/testdata/foo.mp3
  packages/markdown-it-bi-directional-links/src/testdata/foo.mp4
  packages/markdown-it-bi-directional-links/src/utils.ts
Labels: enhancement, pkg/bi-directional-links, difficulty/medium

#263 feat(git-changelog): new option to hide sort by
  docs/pages/en/integrations/vitepress-plugin-git-changelog/configure-ui.md
  docs/pages/zh-CN/integrations/vitepress-plugin-git-changelog/configure-ui.md
  packages/vitepress-plugin-git-changelog/src/client/components/Changelog.vue
  packages/vitepress-plugin-git-changelog/src/client/types.ts
Labels: enhancement, pkg/git-changelog, difficulty/easy

#268 feat(og image): more configurations
  packages/vitepress-plugin-og-image/src/vitepress/index.ts
  packages/vitepress-plugin-og-image/src/vitepress/utils/svg/render.ts
Labels: enhancement, pkg/og-image

#266 feat(i18n): add Russian locales to `git-changelog` and `enhanced-readabilities`
  cspell.config.yaml
  package.json
  packages/vitepress-plugin-enhanced-readabilities/src/client/locales.ts
  packages/vitepress-plugin-enhanced-readabilities/src/locales/index.ts
  packages/vitepress-plugin-enhanced-readabilities/src/locales/ru-RU.yaml
  packages/vitepress-plugin-git-changelog/src/client/locales.ts
  packages/vitepress-plugin-git-changelog/src/locales/index.ts
  packages/vitepress-plugin-git-changelog/src/locales/ru-RU.yaml
  pnpm-lock.yaml
Labels: documentation, enhancement, pkg/enhanced-readabilities, pkg/git-changelog

#269 refactor!: mv data processing to vite side
  docs/.vitepress/config.ts
  docs/.vitepress/theme/index.ts
  docs/pages/en/integrations/vitepress-plugin-git-changelog/configure-ui.md
  docs/pages/en/integrations/vitepress-plugin-git-changelog/configure-vite-plugins.md
  docs/pages/en/releases/migrations/v2-to-v3.md
  docs/pages/zh-CN/integrations/vitepress-plugin-git-changelog/configure-ui.md
  docs/pages/zh-CN/integrations/vitepress-plugin-git-changelog/configure-vite-plugins.md
  docs/pages/zh-CN/integrations/vitepress-plugin-git-changelog/getting-started.md
  docs/pages/zh-CN/releases/migrations/v2-to-v3.md
  docs/vite.config.ts
  packages/unconfig-vitepress/src/plugins/nolebase/index.ts
  packages/vitepress-plugin-enhanced-readabilities/src/client/types.ts
  packages/vitepress-plugin-git-changelog/package.json
  packages/vitepress-plugin-git-changelog/src/client/components/Changelog.vue
  packages/vitepress-plugin-git-changelog/src/client/components/CommitRegularLine.vue
  packages/vitepress-plugin-git-changelog/src/client/components/CommitTagLine.vue
  packages/vitepress-plugin-git-changelog/src/client/components/Contributors.vue
  packages/vitepress-plugin-git-changelog/src/client/composables/author.test.ts
  packages/vitepress-plugin-git-changelog/src/client/composables/author.ts
  packages/vitepress-plugin-git-changelog/src/client/composables/changelog.ts
  packages/vitepress-plugin-git-changelog/src/client/composables/commits.ts
  packages/vitepress-plugin-git-changelog/src/client/types.ts
  packages/vitepress-plugin-git-changelog/src/client/virtual.d.ts
  packages/vitepress-plugin-git-changelog/src/types/index.ts
  packages/vitepress-plugin-git-changelog/src/vite/git.ts
  packages/vitepress-plugin-git-changelog/src/vite/helpers.test.ts
  packages/vitepress-plugin-git-changelog/src/vite/helpers.ts
  packages/vitepress-plugin-git-changelog/src/vite/types.ts
  pnpm-lock.yaml
Labels: enhancement, pkg/git-changelog, difficulty/hard

#273 feat(git-changelog): add authors for specific page
  docs/pages/en/integrations/vitepress-plugin-git-changelog/configure-ui.md
  docs/pages/zh-CN/integrations/vitepress-plugin-git-changelog/configure-ui.md
  packages/vitepress-plugin-git-changelog/src/client/composables/changelog.ts
  packages/vitepress-plugin-git-changelog/src/client/utils.ts
Labels: enhancement, pkg/git-changelog, difficulty/medium

#274 docs(git-changelog): add more live use cases
  docs/pages/en/integrations/vitepress-plugin-git-changelog/index.md
  docs/pages/zh-CN/integrations/vitepress-plugin-git-changelog/index.md
Labels: documentation, pkg/git-changelog

#275 feat(git-changelog): display commit authors inside line with avatars
  packages/vitepress-plugin-git-changelog/src/client/components/CommitRegularLine.vue
  packages/vitepress-plugin-git-changelog/src/client/composables/changelog.ts
  packages/vitepress-plugin-git-changelog/src/client/types.ts
  packages/vitepress-plugin-git-changelog/src/vite/helpers.ts
Labels: documentation, enhancement, pkg/git-changelog, difficulty/medium

#276 fix(git-changelog): layout of commit inline authors and hmr bugs
  docs/.vitepress/config.ts
  docs/pages/en/integrations/vitepress-plugin-git-changelog/configure-ui.md
  docs/pages/zh-CN/integrations/vitepress-plugin-git-changelog/configure-ui.md
  packages/vitepress-plugin-git-changelog/build.config.ts
  packages/vitepress-plugin-git-changelog/src/client/components/Changelog.vue
  packages/vitepress-plugin-git-changelog/src/client/components/CommitRegularLine.vue
  packages/vitepress-plugin-git-changelog/src/client/components/CommitTagLine.vue
  packages/vitepress-plugin-git-changelog/src/client/components/Contributors.vue
  packages/vitepress-plugin-git-changelog/src/client/composables/changelog.ts
  packages/vitepress-plugin-git-changelog/src/client/utils.ts
  packages/vitepress-plugin-git-changelog/src/vite/git.ts
  packages/vitepress-plugin-git-changelog/src/vite/types.ts
Labels: bug, documentation, pkg/git-changelog, difficulty/medium

#285 feat(i18n - git-changelog): add locale support for contributors
  packages/vitepress-plugin-git-changelog/src/client/components/Contributors.vue
  packages/vitepress-plugin-git-changelog/src/types/index.ts
  packages/vitepress-plugin-git-changelog/src/vite/helpers.ts
Labels: enhancement, pkg/git-changelog, difficulty/medium

#287 fix(page-properties): max props should be optional for ProgressBar component
  packages/vitepress-plugin-page-properties/src/client/components/ProgressBar.vue
Labels: bug, pkg/page-properties, difficulty/easy

#288 chore(ci): removed version option for pnpm/setup-action
  .github/workflows/ci-build.yaml
  .github/workflows/ci.yaml
  .github/workflows/preview-docs-deployment.yaml
  .github/workflows/production-docs-deployment.yaml
  .github/workflows/release.yaml
Labels: difficulty/easy
