Repository nolebase/integrations, pull requests merged in 2024-11, with the labels that each got.

#324 fix: sidebar issue
  docs/pages/en/integrations/vitepress-plugin-sidebar/index.md
  docs/pages/zh-CN/integrations/vitepress-plugin-sidebar/index.md
  packages/vitepress-plugin-sidebar/src/sidebar.ts
Labels: bug, pkg/sidebar

#327 feat(breadcrumbs): add vitepress breadcrumbs plugin
  packages/vitepress-plugin-breadcrumbs/README.md
  packages/vitepress-plugin-breadcrumbs/build.config.ts
  packages/vitepress-plugin-breadcrumbs/package.json
  packages/vitepress-plugin-breadcrumbs/src/client/components/NolebaseBreadcrumbs.vue
  packages/vitepress-plugin-breadcrumbs/src/client/index.ts
  packages/vitepress-plugin-breadcrumbs/src/test/breadcrumbs-data-generator.test.ts
  packages/vitepress-plugin-breadcrumbs/src/vitepress/breadcrumbs-data-generator.ts
  packages/vitepress-plugin-breadcrumbs/src/vitepress/index.ts
  packages/vitepress-plugin-breadcrumbs/tsconfig.json
  pnpm-lock.yaml
Labels: enhancement, pkg/breadcrumbs

#344 feat(bi-link): support force relative path
  packages/markdown-it-bi-directional-links/src/index.ts
Labels: bug, pkg/bi-directional-links

#346 chore(deps): upgrade to vite 6, bump dependencies
  cspell.config.yaml
  docs/package.json
  docs/vite.config.ts
  package.json
  packages/markdown-it-unlazy-img/package.json
  packages/ui-asciinema/package.json
  packages/ui-rive-canvas/package.json
  packages/ui/package.json
  packages/unconfig-vitepress/package.json
  packages/vitepress-plugin-breadcrumbs/package.json
  packages/vitepress-plugin-enhanced-mark/package.json
  packages/vitepress-plugin-enhanced-readabilities/package.json
  packages/vitepress-plugin-git-changelog/package.json
  packages/vitepress-plugin-git-changelog/src/vite/git.ts
  packages/vitepress-plugin-graph-view/package.json
  packages/vitepress-plugin-highlight-targeted-heading/package.json
  packages/vitepress-plugin-index/package.json
  packages/vitepress-plugin-inline-link-preview/package.json
  packages/vitepress-plugin-meta/package.json
  packages/vitepress-plugin-og-image/package.json
  packages/vitepress-plugin-page-properties/package.json
  packages/vitepress-plugin-page-properties/src/vite/pageProperties/index.ts
  packages/vitepress-plugin-thumbnail-hash/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: dependencies, upstream, difficulty/hard
