Repository nolebase/integrations, pull requests merged in 2024-05, with the labels that each got.

#195 fix: disable spinner in production mode
  packages/vitepress-plugin-git-changelog/src/vite/git.ts
  packages/vitepress-plugin-thumbnail-hash/src/vite/index.ts
Labels: bug, question, package/vitepress-plugin-git-changelog, package/vitepress-plugin-thumbnail-hash

#200 feat(graph-view): added new package
  .github/workflows/ci-build.yaml
  .github/workflows/ci.yaml
  .github/workflows/preview-docs-deployment.yaml
  .github/workflows/production-docs-deployment.yaml
  .github/workflows/release.yaml
  .gitignore
  .npmrc
  docs/package.json
  docs/vite.config.ts
  package.json
  packages/unconfig-vitepress/build.config.ts
  packages/unconfig-vitepress/package.json
  packages/unconfig-vitepress/src/plugins/nolebase/index.ts
  packages/unconfig-vitepress/tsconfig.json
  packages/vitepress-plugin-graph-view/README.md
  packages/vitepress-plugin-graph-view/build.config.ts
  packages/vitepress-plugin-graph-view/package.json
  packages/vitepress-plugin-graph-view/src/client/components/GraphView.vue
  packages/vitepress-plugin-graph-view/src/client/index.ts
  packages/vitepress-plugin-graph-view/src/client/style.css
  packages/vitepress-plugin-graph-view/src/types/index.ts
  packages/vitepress-plugin-graph-view/src/vite/index.ts
  packages/vitepress-plugin-graph-view/tsconfig.json
  pnpm-lock.yaml
  tsconfig.json
  uno.config.ts
Labels: enhancement

#203 feat(git-changelog): on-demand and hot reload capabilities
  cspell.config.yaml
  docs/package.json
  docs/vite.config.ts
  packages/vitepress-plugin-git-changelog/build.config.ts
  packages/vitepress-plugin-git-changelog/src/client/components/Changelog.vue
  packages/vitepress-plugin-git-changelog/src/client/components/Contributors.vue
  packages/vitepress-plugin-git-changelog/src/client/composables/commits.ts
  packages/vitepress-plugin-git-changelog/src/client/composables/path.ts
  packages/vitepress-plugin-git-changelog/src/vite/git.ts
  packages/vitepress-plugin-git-changelog/tsconfig.json
  packages/vitepress-plugin-graph-view/src/client/components/GraphView.vue
  pnpm-lock.yaml
Labels: enhancement, package/vitepress-plugin-git-changelog

#204 fix(page-properties): incorrect implementation of hmr
  packages/vitepress-plugin-page-properties/src/client/components/PageProperties.vue
  packages/vitepress-plugin-page-properties/src/client/components/PagePropertiesEditor.vue
  packages/vitepress-plugin-page-properties/src/client/composables/data.ts
  packages/vitepress-plugin-page-properties/src/client/composables/path.ts
  packages/vitepress-plugin-page-properties/src/vite/pageProperties/index.ts
Labels: bug, pkg/page-properties

#210 refactor: simplify `mapContributors` configuration
  cspell.config.yaml
  docs/.vitepress/theme/index.ts
  docs/pages/en/integrations/vitepress-plugin-enhanced-mark/index.md
  docs/pages/en/integrations/vitepress-plugin-git-changelog/configure-ui.md
  docs/pages/en/releases/migrations/v1-to-v2.md
  docs/pages/zh-CN/integrations/vitepress-plugin-enhanced-mark/index.md
  docs/pages/zh-CN/integrations/vitepress-plugin-git-changelog/configure-ui.md
  docs/pages/zh-CN/releases/migrations/v1-to-v2.md
  packages/vitepress-plugin-git-changelog/src/client/components/Contributors.vue
  packages/vitepress-plugin-git-changelog/src/client/composables/author.test.ts
  packages/vitepress-plugin-git-changelog/src/client/composables/author.ts
  packages/vitepress-plugin-git-changelog/src/client/index.ts
  packages/vitepress-plugin-git-changelog/src/client/types.ts
  packages/vitepress-plugin-git-changelog/src/types/index.ts
Labels: enhancement, pkg/git-changelog

#212 fix(git-changelog): missing trim for fields
  docs/.vitepress/theme/index.ts
  packages/vitepress-plugin-git-changelog/src/client/composables/author.ts
  packages/vitepress-plugin-git-changelog/src/vite/helpers.test.ts
  packages/vitepress-plugin-git-changelog/src/vite/helpers.ts
Labels: bug, pkg/git-changelog

#215 refactor(bi-directional-links): better logging
  docs/pages/en/integrations/markdown-it-bi-directional-links/getting-started.md
  docs/pages/zh-CN/integrations/markdown-it-bi-directional-links/getting-started.md
  packages/markdown-it-bi-directional-links/package.json
  packages/markdown-it-bi-directional-links/src/index.test.ts
  packages/markdown-it-bi-directional-links/src/index.ts
  pnpm-lock.yaml
Labels: enhancement, pkg/bi-directional-links

#217 fix(enhanced-readabilities): [unocss] failed to load icon
  packages/vitepress-plugin-enhanced-readabilities/src/client/components/LayoutSwitch.vue
  packages/vitepress-plugin-enhanced-readabilities/src/client/components/LayoutSwitchContentLayoutMaxWidthSlider.vue
  packages/vitepress-plugin-enhanced-readabilities/src/client/components/LayoutSwitchPageLayoutMaxWidthSlider.vue
  packages/vitepress-plugin-enhanced-readabilities/src/client/components/MenuTitle.vue
  packages/vitepress-plugin-enhanced-readabilities/src/client/components/ScreenLayoutSwitch.vue
  packages/vitepress-plugin-enhanced-readabilities/src/client/components/ScreenMenu.vue
  packages/vitepress-plugin-enhanced-readabilities/src/client/components/ScreenSpotlight.vue
  packages/vitepress-plugin-enhanced-readabilities/src/client/components/Spotlight.vue
  packages/vitepress-plugin-enhanced-readabilities/src/client/components/SpotlightStyles.vue
Labels: bug, upstream, pkg/enhanced-readabilities

#218 feat(meta): added new vitepress-plugin-meta package
  README.md
  README.zh-CN.md
  cspell.config.yaml
  docs/.vitepress/config.ts
  docs/.vitepress/twoslashConfig.ts
  docs/package.json
  docs/pages/en/index.md
  docs/pages/en/integrations/index.md
  docs/pages/en/integrations/vitepress-plugin-meta/index.md
  docs/pages/zh-CN/index.md
  docs/pages/zh-CN/integrations/index.md
  docs/pages/zh-CN/integrations/vitepress-plugin-meta/index.md
  packages/vitepress-plugin-meta/README.md
  packages/vitepress-plugin-meta/build.config.ts
  packages/vitepress-plugin-meta/package.json
  packages/vitepress-plugin-meta/src/vitepress/index.test.ts
  packages/vitepress-plugin-meta/src/vitepress/index.ts
  packages/vitepress-plugin-meta/src/vitepress/testdata/index.en.html
  packages/vitepress-plugin-meta/src/vitepress/testdata/index.zh-CN.html
  packages/vitepress-plugin-meta/tsconfig.json
  packages/vitepress-plugin-og-image/src/vitepress/index.ts
  pnpm-lock.yaml
Labels: enhancement

#222 fix(meta): unexcluded elements
  packages/vitepress-plugin-git-changelog/src/client/components/Changelog.vue
  packages/vitepress-plugin-git-changelog/src/client/components/Contributors.vue
  packages/vitepress-plugin-meta/package.json
  packages/vitepress-plugin-meta/src/vitepress/index.test.ts
  packages/vitepress-plugin-meta/src/vitepress/index.ts
  packages/vitepress-plugin-meta/src/vitepress/testdata/index.en.html
  packages/vitepress-plugin-meta/src/vitepress/testdata/index.zh-CN.html
  packages/vitepress-plugin-page-properties/src/client/components/PageProperties.vue
  packages/vitepress-plugin-page-properties/src/client/components/PagePropertiesEditor.vue
  pnpm-lock.yaml
Labels: pkg/git-changelog, pkg/page-properties

#227 refactor(git-changelog): migrate commitHashDigits option to UI section as numCommitHashLetters
  docs/pages/en/integrations/vitepress-plugin-git-changelog/configure-ui.md
  docs/pages/zh-CN/integrations/vitepress-plugin-git-changelog/configure-ui.md
  packages/vitepress-plugin-git-changelog/package.json
  packages/vitepress-plugin-git-changelog/src/client/components/Changelog.vue
  packages/vitepress-plugin-git-changelog/src/client/components/CommitRegularLine.vue
  packages/vitepress-plugin-git-changelog/src/client/components/Contributors.vue
  packages/vitepress-plugin-git-changelog/src/client/constants.ts
  packages/vitepress-plugin-git-changelog/src/client/types.ts
  packages/vitepress-plugin-git-changelog/src/types/index.ts
  packages/vitepress-plugin-git-changelog/src/vite/git.ts
  packages/vitepress-plugin-git-changelog/src/vite/helpers.ts
  pnpm-lock.yaml
Labels: enhancement, pkg/git-changelog
