Repository nolebase/integrations, pull requests merged in 2024-06, with the labels that each got.

#228 fix: mismatch types for `markdown-it`
  docs/.vitepress/config.ts
  docs/package.json
  package.json
  packages/markdown-it-bi-directional-links/package.json
  packages/markdown-it-bi-directional-links/src/index.ts
  packages/markdown-it-element-transform/package.json
  packages/markdown-it-element-transform/src/index.ts
  packages/markdown-it-unlazy-img/package.json
  packages/markdown-it-unlazy-img/src/index.ts
  packages/ui/package.json
  packages/unconfig-vitepress/package.json
  packages/vitepress-plugin-enhanced-mark/package.json
  packages/vitepress-plugin-enhanced-readabilities/package.json
  packages/vitepress-plugin-git-changelog/package.json
  packages/vitepress-plugin-graph-view/package.json
  packages/vitepress-plugin-highlight-targeted-heading/package.json
  packages/vitepress-plugin-inline-link-preview/package.json
  packages/vitepress-plugin-inline-link-preview/src/client/components/InlineLinkPreview.vue
  packages/vitepress-plugin-meta/package.json
  packages/vitepress-plugin-og-image/package.json
  packages/vitepress-plugin-og-image/src/vitepress/index.ts
  packages/vitepress-plugin-page-properties/package.json
  packages/vitepress-plugin-thumbnail-hash/package.json
  pnpm-lock.yaml
Labels: bug, upstream

#234 docs(git-changelog): added documentations about git changelog with CI/CD setup
  docs/pages/en/integrations/vitepress-plugin-git-changelog/getting-started.md
  docs/pages/zh-CN/integrations/vitepress-plugin-git-changelog/getting-started.md
Labels: documentation, pkg/git-changelog

#236 feat(enhanced-readabilities): option to disable animation
  docs/pages/en/integrations/vitepress-plugin-enhanced-readabilities/index.md
  docs/pages/zh-CN/integrations/vitepress-plugin-enhanced-readabilities/index.md
  packages/vitepress-plugin-enhanced-readabilities/src/client/components/LayoutSwitch.vue
  packages/vitepress-plugin-enhanced-readabilities/src/client/components/LayoutSwitchContentLayoutMaxWidthSlider.vue
  packages/vitepress-plugin-enhanced-readabilities/src/client/components/LayoutSwitchPageLayoutMaxWidthSlider.vue
  packages/vitepress-plugin-enhanced-readabilities/src/client/types.ts
Labels: enhancement, pkg/enhanced-readabilities

#237 fix(bi-directional-links): trim src + including non-attachment markup
  packages/markdown-it-bi-directional-links/src/index.ts
Labels: bug

#239 fix(bi-directional-links): incorrect token implementation and dup handling for `.png` images
  packages/markdown-it-bi-directional-links/src/index.test.ts
  packages/markdown-it-bi-directional-links/src/index.ts
  packages/markdown-it-bi-directional-links/src/testdata/foo.png
  packages/markdown-it-bi-directional-links/src/utils.ts
Labels: bug, pkg/bi-directional-links

#242 fix(enhanced-readabilities): missing exports for SpotlightStyle enums
  docs/pages/en/integrations/vitepress-plugin-enhanced-readabilities/index.md
  docs/pages/zh-CN/integrations/vitepress-plugin-enhanced-readabilities/index.md
  packages/vitepress-plugin-enhanced-readabilities/src/client/index.ts
Labels: bug, pkg/enhanced-readabilities

#241 fix(page-properties): failed to supply page properties when urls contains uppercase chars
  docs/pages/en/integrations/markdown-it-bi-directional-links/getting-started.md
  docs/pages/en/integrations/vitepress-plugin-inline-link-preview/configuration.md
  docs/pages/en/integrations/vitepress-plugin-inline-link-preview/getting-started.md
  docs/pages/en/releases/migrations/v1-to-v2.md
  docs/pages/zh-CN/integrations/markdown-it-bi-directional-links/getting-started.md
  docs/pages/zh-CN/integrations/vitepress-plugin-inline-link-preview/configuration.md
  docs/pages/zh-CN/integrations/vitepress-plugin-inline-link-preview/getting-started.md
  docs/pages/zh-CN/releases/migrations/v1-to-v2.md
  package.json
  packages/vitepress-plugin-page-properties/src/client/composables/data.ts
Labels: bug, pkg/page-properties
