Repository nolebase/integrations, pull requests merged in 2024-12, with the labels that each got.

#357 style: breadcrumbs now warps line correctly
  packages/vitepress-plugin-breadcrumbs/src/client/components/NolebaseBreadcrumbs.vue
Labels: bug, difficulty/easy, pkg/breadcrumbs

#366 chore: bump dependencies
  docs/package.json
  package.json
  packages/markdown-it-bi-directional-links/package.json
  packages/ui/package.json
  packages/vitepress-plugin-enhanced-readabilities/package.json
  packages/vitepress-plugin-git-changelog/package.json
  packages/vitepress-plugin-index/package.json
  packages/vitepress-plugin-inline-link-preview/package.json
  packages/vitepress-plugin-page-properties/package.json
  packages/vitepress-plugin-thumbnail-hash/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: dependencies

#367 feat(sidebar): add base option
  packages/vitepress-plugin-sidebar/src/sidebar.test.ts
  packages/vitepress-plugin-sidebar/src/sidebar.ts
Labels: enhancement, difficulty/medium, pkg/sidebar
