Repository nolebase/integrations, pull requests merged in 2024-08, with the labels that each got.

#289 chore: update dependencies, fixed various issues caused by upstream changes
  .github/workflows/preview-docs-deployment.yaml
  cspell.config.yaml
  docs/package.json
  package.json
  packages/markdown-it-bi-directional-links/package.json
  packages/markdown-it-bi-directional-links/src/index.ts
  packages/markdown-it-element-transform/src/index.ts
  packages/markdown-it-unlazy-img/package.json
  packages/markdown-it-unlazy-img/src/index.ts
  packages/ui-asciinema/package.json
  packages/ui-rive-canvas/package.json
  packages/ui/package.json
  packages/unconfig-vitepress/package.json
  packages/vitepress-plugin-enhanced-mark/package.json
  packages/vitepress-plugin-enhanced-readabilities/package.json
  packages/vitepress-plugin-git-changelog/package.json
  packages/vitepress-plugin-graph-view/package.json
  packages/vitepress-plugin-highlight-targeted-heading/package.json
  packages/vitepress-plugin-inline-link-preview/package.json
  packages/vitepress-plugin-meta/package.json
  packages/vitepress-plugin-og-image/package.json
  packages/vitepress-plugin-page-properties/package.json
  packages/vitepress-plugin-thumbnail-hash/package.json
  pnpm-lock.yaml
  uno.config.ts
Labels: upstream, difficulty/hard

#290 docs(ui-asciinema): added detail usage for vite config
  docs/pages/en/ui/asciinema-player/index.md
  docs/pages/zh-CN/ui/asciinema-player/index.md
Labels: documentation, pkg/ui

#292 docs: fixed tsconfig tutorials
  docs/pages/en/integrations/vitepress-plugin-enhanced-readabilities/index.md
Labels: documentation

#293 feat(git changelog): resolve profile picture for GitHub emails, new option to hide no data texts
  docs/pages/en/integrations/vitepress-plugin-git-changelog/configure-ui.md
  docs/pages/zh-CN/integrations/vitepress-plugin-git-changelog/configure-ui.md
  packages/vitepress-plugin-git-changelog/src/client/components/Changelog.vue
  packages/vitepress-plugin-git-changelog/src/client/types.ts
  packages/vitepress-plugin-git-changelog/src/vite/helpers.test.ts
  packages/vitepress-plugin-git-changelog/src/vite/helpers.ts
Labels: enhancement, pkg/git-changelog, difficulty/medium

#295 pref: reduce the count of regular matches
  packages/vitepress-plugin-git-changelog/src/vite/helpers.test.ts
  packages/vitepress-plugin-git-changelog/src/vite/helpers.ts
Labels: enhancement, pkg/git-changelog

#296 feat(og-image): new option to disable existing meta tag overriding, completed some of the ut
  packages/vitepress-plugin-og-image/package.json
  packages/vitepress-plugin-og-image/src/vitepress/constants.ts
  packages/vitepress-plugin-og-image/src/vitepress/index.ts
  packages/vitepress-plugin-og-image/src/vitepress/options.test.ts
  packages/vitepress-plugin-og-image/src/vitepress/options.ts
  packages/vitepress-plugin-og-image/src/vitepress/types.ts
  pnpm-lock.yaml
Labels: pkg/og-image, difficulty/medium
