Repository nolebase/integrations, pull requests merged in 2025-02, with the labels that each got.

#399 chore: bump dependencies
  docs/package.json
  package.json
  packages/ui-asciinema/package.json
  packages/ui-rive-canvas/package.json
  packages/ui-rive-canvas/src/components/NuLazyTeleportRiveCanvas.vue
  packages/ui/package.json
  packages/vitepress-plugin-enhanced-mark/package.json
  packages/vitepress-plugin-enhanced-readabilities/package.json
  packages/vitepress-plugin-git-changelog/package.json
  packages/vitepress-plugin-graph-view/package.json
  packages/vitepress-plugin-highlight-targeted-heading/package.json
  packages/vitepress-plugin-inline-link-preview/package.json
  packages/vitepress-plugin-og-image/package.json
  packages/vitepress-plugin-page-properties/package.json
  packages/vitepress-plugin-sidebar/package.json
  packages/vitepress-plugin-thumbnail-hash/package.json
  pnpm-lock.yaml
Labels: dependencies, upstream, difficulty/medium

#403 fix: vitepress version specifier
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: dependencies, difficulty/easy

#410 fix(enhanced-readabilities): priority of stylesheet not overriding width of content
  package.json
  packages/vitepress-plugin-enhanced-readabilities/src/client/components/LayoutSwitch.vue
Labels: pkg/enhanced-readabilities, difficulty/easy

#416 feat(integrations): implemented for vite and markdown-it
  packages/integrations/build.config.ts
  packages/integrations/package.json
  packages/integrations/src/vitepress/client/index.ts
  packages/integrations/src/vitepress/client/types.ts
  packages/integrations/src/vitepress/client/utils/types.ts
  packages/integrations/src/vitepress/markdown-it/index.ts
  packages/integrations/src/vitepress/markdown-it/types.ts
  packages/integrations/src/vitepress/vite/index.ts
  packages/integrations/src/vitepress/vite/types.ts
  pnpm-lock.yaml
Labels: dependencies, difficulty/hard, pkg/integrations

#430 fix(unlazy-img): extra pattern for glob to search
  docs/uno.config.ts
  packages/markdown-it-unlazy-img/src/index.ts
Labels: bug, upstream, pkg/thumbnail-hash, difficulty/medium, pkg/unlazy-img
