Repository nolebase/integrations, pull requests merged in 2025-01, with the labels that each got.

#372 fix(sidebar): type constrainted to `true`
  packages/vitepress-plugin-sidebar/src/sidebar.ts
Labels: bug, difficulty/easy, pkg/sidebar

#377 fix(git-changelog): exposure types and composables
  packages/vitepress-plugin-git-changelog/package.json
  packages/vitepress-plugin-git-changelog/src/client/composables/index.ts
  packages/vitepress-plugin-git-changelog/src/client/index.ts
  packages/vitepress-plugin-git-changelog/src/locales/yaml.d.ts
  packages/vitepress-plugin-git-changelog/src/types/virtual.d.ts
  packages/vitepress-plugin-git-changelog/tsconfig.json
Labels: enhancement, pkg/git-changelog, difficulty/medium

#379 adds missing instructions in docs for vitepress integration Enhanced Readabilities
  docs/pages/en/integrations/vitepress-plugin-enhanced-readabilities/index.md
Labels: documentation, pkg/enhanced-readabilities

#384 fix(enhance-readabilities): remove invalid border solid issue
  packages/vitepress-plugin-enhanced-readabilities/src/client/components/SpotlightHoverBlock.vue
Labels: bug, pkg/enhanced-readabilities, difficulty/easy
